{% extends "layout.html" %} 

{% block content %}
  <div>
      <br>
      <div class="search-container">
        <div class="input-container">
          <input class="input-field" id="flask_day" type="date">
          <label for="input-field" class="input-label">日付</label>
        </div>
	
        <div class="input-container">
	  <select class="input-field" name="resident_id" id="resident_id">
            <option value=-1>選択してください</option>
            {% for resident in return_data %}
              <option value="{{ resident['id'] }}">{{resident['name'] }}様</option>
            {% endfor %}
          </select>
          <label for="input-field" class="input-label">氏名</label>
        </div>
        <div class="input-container">
          <select class="input-field" name="resident_id" id="return_check">
            <option value="all_record">状態を選択</option>
            <option value="return">帰館</option>
            <option value="no_return">未帰館</option>
          </select>
          <label for="input-field" class="input-label">状態</label>
        </div>

        <button onClick="search_record()"> 検索
        </button>
      </div>
      <div class="search-container">
        <div id="post_record">
        <div class="input-container">
          <select class="input-field" id="go_out" name="go_out">
            <option value="go">出発</option>
            <option value="return">帰館</option>
          </select>
          <label for="input-field" class="input-label">状態</label>
        </div>
        <div class="input-container">
          <input class="input-field" type="date" id="today" name="door_date">
          <label for="input-field" class="input-label">日付</label>
        </div>
        <div class="input-container">
          <input class="input-field" type="time" id="door_time"  name="door_time" value="{{local_time}}">
          <label for="input-field" class="input-label">時間</label>
        </div>
        <div class="input-container">
          <select class="input-field" id="select_resident_id"  name="select_resident_id" placeholder="名前" required>
            <option value=''>氏名を選択</option>
            {% for resident in return_data %}
            <option value="{{ resident['name'] }}">{{ resident['name'] }}様</option>
            {% endfor %}
          </select>
          <label for="input-field" class="input-label">氏名</label>
        </div>
        
      </div>
      <button class="index_btn" onClick="do_post()">登録</button>
      </div>
      <div id="updateRecord" class="search-container" style="display: none;">
	<h3>記録更新</h3>
	<input id="go_first_time" style="display: none;">
	<input id="return_first_time" style="display: none;">
	<input id="go_id" style="display:none;">
	<input id="return_id" style="display:none;">
	<input id="resident_name" style="display: none;">
	<div class="input-container">
		<input class="input-field" type="datetime-local" id="go_time">
		<label class="input-label">外出時間</label>

	</div>
	<div class="input-container">
		<input class="input-field" type="datetime-local" id="return_time">
		<label class="input-label">帰宅時間</label>
	</div>
	<div class="input-container">
		<input class="input-field" type="text" id="reason" list="example"></input>
		<datalist id="example">
		<option value="外出"></option>
		<option value="外泊"></option>
		</datalist>
		<label class="input-label">備考</label>	
	</div>
	<button onclick="post_update_record()">更新</button>
      </div>
      <hr>
      <div class="container">
        {% for day_record in today %}
        {% if day_record[5] != None  and day_record[1] != None and day_record[5].strftime("%Y-%m-%d %H:%M:%S")[11:19] == '00:00:00' and day_record[15] == 0 %}
	<div class="entry" style="background-color: #abcdef;">
	      <p class="first_time">初期登録時間  外出時間:{{day_record[11]}} 帰宅時間:記録なし   更新時間:{{day_record[4]}}</p>
	      <hr>
              <h2>{{ day_record[0] }}様:  備考:{% if day_record[3] != '' and day_record[3] != None and day_record[3] != 'None' %}
		{{day_record[3]}}
		{% elif day_record[3] == 'None' and day_record[3] == None %}
		
		{% endif %}</h2>
	      <p>記入者:{% if day_record[2] != None %} {{day_record[2]}} {% endif %}</p>
              <p>外出時間:{{ day_record[1] }}   帰館時間:記録なし
	      <button class="update-record-button"  onClick="record_update('{{day_record[1]}}','{{day_record[5]}}','{{day_record[3]}}','{{day_record[7]}}','{{day_record[9]}}','{{day_record[10]}}','{{day_record[0]}}')">更新</button>
              </p>
	</div>
	 {% elif day_record[5] != None and day_record[1] != None and day_record[15] == 1 and  day_record[5].strftime("%Y-%m-%d %H:%M:%S")[11:19] == '00:00:00'  %}
        <div class="entry">
              <p class="first_time">初期登録時間  外出時間:{{day_record[11]}} 帰宅時間:記録なし   更新時間:{{day_record[4]}}</p>
              <hr>
              <h2>{{ day_record[0] }}様:  備考:{% if day_record[3] != '' and day_record[3] != None and day_record[3] != 'None' %}
                {{day_record[3]}}
                {% elif day_record[3] == 'None' and day_record[3] == None %}

	      {% endif %}</h2>
              <p>記入者:{% if day_record[2] != None %} {{day_record[2]}} {% endif %}</p>
              <p>外出時間:{{ day_record[1] }}   帰館時間:別記録に記載
              <button class="update-record-button"  onClick="record_update('{{day_record[1]}}','{{day_record[5]}}','{{day_record[3]}}','{{day_record[7]}}','{{day_record[9]}}','{{day_record[10]}}','{{day_record[0]}}')">更新</button>
              </p>
        </div>
	{% elif day_record[5] != None %}
        <div class="entry">
	      {% if day_record[13] != None and day_record[14] != None%}
                <p class="first_time">初期登録時間  外出時間:{{day_record[11]}} 帰宅時間:{{day_record[12]}} 更新時間:{% if day_record[4] == None or day_record == Null %}
                {{day_record[8]}}
                {% elif day_record[4] != None or day_record != Null %}
                {{day_record[4]}}

                {% endif %}</p>
		<hr>
		<h2>{{ day_record[0] }}様: 備考:{% if day_record[3] != '' and day_record[3] != None and day_record[3] != 'None'%}
                {{day_record[3]}}
                {% elif day_record[3] == '' or day_record[3] == None and day_record[7] != None %}
                {{day_record[7]}}
		{% elif day_record[3] == 'None' or day_record[3] == None  %}
                {% endif %}</h2>
		
                <p>記入者:{% if day_record[2] != None %}{{day_record[2]}} {% elif day_record[2] == None and day_record[6] != Null and day_record[6] != None %}{{day_record[6]}}{% endif %}</p>
		<p>外出時間:{% if day_record[1].strftime("%Y-%m-%d %H:%M:%S")[11:19] != '00:00:00'  %}{{ day_record[1] }}{% else  %}記録なし{% endif  %} 
		帰館時間:{{ day_record[5] }}
                <button class="update-record-button"  onClick="record_update('{{day_record[1]}}','{{day_record[5]}}','{{day_record[3]}}','{{day_record[7]}}','{{day_record[9]}}','{{day_record[10]}}','{{day_record[0]}}')">更新</button>
		</p>
		{% endif %}
        </div>
	{% endif %}
        {% endfor %}
      </div>
        {{ pagination.links }}
  <script>
    
    let today = new Date(); //現在日時
    let flask_day = new Date({{day_value|tojson}}); //pythonから送られてきた日時

    function make_day(day) { //日付フォーマットを整える
      day.setDate(day.getDate());
      let yyyy = day.getFullYear();
      let mm = ('0' + (day.getMonth() + 1)).slice(-2);
      let dd = ('0' + day.getDate()).slice(-2);
      return yyyy + '-' + mm + '-' + dd;
    }
    

    flask_day = make_day(flask_day) //pythonから送られてきた日付をmake_dayで整えflask_dayに入れる

    document.getElementById('flask_day').value = {{page_value|tojson}};
    document.getElementById('today').value = {{page_value|tojson}}

     if ({{page_value|tojson}} == flask_day + ' ') { //page_value(urlの日付)とflask_dayが一致する場合
      document.getElementById('today').value = ({{page_value|tojson}}).slice(0,-1) //idがtodayのinputタグにこのデータを反映させる
    }

    document.getElementById('resident_id').value = {{resident_data|tojson}} //上段の入居者選択項目
    document.getElementById('return_check').value = {{return_check|tojson}} //上段の状態選択項目(帰館、未帰館)
    console.log(document.getElementById('flask_day').value)
    if(!document.getElementById('flask_day').value) { //もしid flask_dayのvalueが空の場合、今日の日付を代入する
      document.getElementById('flask_day').value = make_day(today)
    }
    
    
    
    var page_value = document.getElementById('flask_day').value //選択日付をpage_valueに代入
    var resident_id = document.getElementById('resident_id').value //選択入居者をresident_idに代入
    var return_check = document.getElementById('return_check').value //選択状態をreturn_checkに代入
    
    //上記変数で定火した値をURLに入れpythonにデータをpostし、ページ内の内容を送ったリクエストに沿ったものに変更する
    function search_record() {
      window.addEventListener('beforeunload', function(event) {
        fetch('/' + {{staff_id|tojson}} + '/sign_out', {
        method: 'POST', // リクエストメソッド
        headers: {
          'Content-Type': 'application/json' // リクエストヘッダーのContent-Type
        },
        body: JSON.stringify('検索') // リクエストボディにデータをJSON形式で指定
        })
        .then(response => response.json()) // レスポンスをJSON形式で解析
        .then(data => {
          // レスポンスデータを処理
          console.log(data);
        })
        .catch(error => {
          // エラーハンドリング
          console.error('Error:', error);
        });
      });
      page_update()
      window.location.href = window.location.origin + '/' + {{staff_id|tojson}} + '/'+ document.getElementById('flask_day').value + '/' + document.getElementById('resident_id').value + '/' + document.getElementById('return_check').value
    }
    
    //ページネーション装飾・id追加
    var li_btn = document.getElementsByTagName('li');
    var active_page = document.getElementsByClassName('active');
    var disabled_btn = document.getElementsByClassName('disabled');
    
    Array.from(li_btn).forEach(function(li,index) {
      li.id = (index);
    });
      
    for(var i = 0; i < li_btn.length; i++) {
        li_btn[i].addEventListener('click', function(event) {
          page_record(event,active_page[0].id)
        });
    };
    var page_len = li_btn.length - 2
    console.log('disabled class ')
    console.log(disabled_btn[0] != li_btn[0])
    li_btn[0].parentNode.removeChild(li_btn[0])
    if (li_btn.length >= 2) {
      console.log(li_btn[page_len])
      li_btn[page_len].parentNode.removeChild(li_btn[page_len])
    }
    
    //ページを移動するごとに動作をpostすることで状態を確認していたが使わなくていいかも
    function page_record(event,page) {
        
        fetch('/' + {{staff_id|tojson}} + '/sign_out', {
        method: 'POST', // リクエストメソッド
        headers: {
          'Content-Type': 'application/json' // リクエストヘッダーのContent-Type
        },
        body: JSON.stringify('page') // リクエストボディにデータをJSON形式で指定
        })
        .then(response => response.json()) // レスポンスをJSON形式で解析
        .then(data => {
          // レスポンスデータを処理
          console.log(data);
        })
        .catch(error => {
          // エラーハンドリング
          console.error('Error:', error);
        });
      }

      //上記同様
      function add_form_post_record() {
        fetch('/' + {{staff_id|tojson}} + '/sign_out', {
        method: 'POST', // リクエストメソッド
        headers: {
          'Content-Type': 'application/json' // リクエストヘッダーのContent-Type
        },
        body: JSON.stringify('add_record') // リクエストボディにデータをJSON形式で指定
        })
      }
      
      //記録追加
      function do_post() {
	console.log('do post')
	var post_data = {
	go_out: document.getElementById('go_out').value, //外出か帰宅か
	door_date: document.getElementById('today').value, //年月
	door_time: document.getElementById('door_time').value, //時間
	select_resident_id: document.getElementById('select_resident_id').value	//入居者id
        };
	console.log('/'+{{staff_id|tojson}}+'/'+document.getElementById('flask_day').value+'/-1/all_record')
        fetch('/'+{{staff_id|tojson}}+'/'+document.getElementById('flask_day').value+'/-1/all_record', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(post_data) //上記のpost_dataをpythonに送る
        })
        .then(response => {
        if (response.ok) {
            alert('登録しました。')
            page_update();
            window.location.href = window.location.origin + '/' + {{staff_id|tojson}} + '/' + document.getElementById('flask_day').value + '/' + document.getElementById('resident_id').value + '/' + document.getElementById('return_check').value

        } else {
            console.error('Response failed:', response.status);
        }
        })
        .catch(error => {
        console.error('Error:', error);
        });
	//add_form_post_record();
      }
      
      //記録更新
      function record_update(go_time,return_time,reason1,reason2,go_id,return_id,resident_name) {
	document.getElementById('updateRecord').style.display = 'flex' //display:noneからflexに変更し、更新入力フォームを表示させる
	document.getElementById('go_first_time').value = go_time //最初に登録した外出時間
	document.getElementById('return_first_time').value = return_time //最初に登録した帰宅時間
	document.getElementById('go_id').value = go_id //外出記録のid
	document.getElementById('return_id').value = return_id //帰宅記録のid
	document.getElementById('go_time').value = go_time //外出時間
	document.getElementById('return_time').value = return_time //帰宅時間
	
	if (document.getElementById('go_first_time').value == ''){ //最初に登録した外出時間が空の場合は,記録の外出時間を登録する
            console.log('None go time')
            document.getElementById('go_first_time').value = go_time
        } else if (document.getElementById('return_first_time').value == '') { //上記処理と同様に帰宅時間も処理する
             console.log('None return time')
            document.getElementById('return_first_time').value = return_time
        }
	if (reason2 == 'None') { //帰宅時間側の備考が空の場合、
		console.log(1)
		document.getElementById('reason').value = reason1 //表示する備考は外出側の備考
		if (reason1 == 'None') { //その上で外出側の備考も空の場合は、''で表示する
			console.log(3)
			document.getElementById('reason').value = ''
			console.log(document.getElementById('reason').value)
		}
	} else { //その他の場合(外出側の備考が空)
		console.log(2)
		document.getElementById('reason').value = reason2 //帰宅側の備考を表示

		if (reason2 == 'None') { //帰宅側の備考がからなら''を表示
			console.log(4)
                        document.getElementById('reason').value = ''
                }
	}
	document.getElementById('resident_name').value = resident_name
      }

　　　//下段の登録フォーム      
      function post_update_record() {
	if (document.getElementById('go_first_time').value == 'None'){ //上記関数と同様の処理
            console.log('None go time')
            document.getElementById('go_first_time').value = document.getElementById('go_time').value
        } else if (document.getElementById('return_first_time').value == 'None') { //上記関数と同様の処理
             console.log('None return time')
            document.getElementById('return_first_time').value = document.getElementById('return_time').value
        }
	console.log(document.getElementById('return_first_time').value)
	console.log(document.getElementById('return_time').value)
	//pythonにpostするデータ
	var post_data = {
        resident_name: document.getElementById('resident_name').value, //入居者名
        go_id: document.getElementById('go_id').value, //外出記録id
        return_id: document.getElementById('return_id').value, //帰宅記録id
        go_time: document.getElementById('go_time').value, //外出時間
        return_time: document.getElementById('return_time').value, //帰宅時間
        reason: document.getElementById('reason').value, //備考
	go_first_time: document.getElementById('go_first_time').value, //初期外出登録時間
	return_first_time: document.getElementById('return_first_time').value //初期帰宅登録時間
	};
	//上記をpythonにpostする
	fetch('/record_update', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(post_data)	
	})
	.then(response => {
        if (response.ok) {
            document.getElementById('updateRecord').style.display = 'none';
	    alert('登録しました。')
            page_update();
            window.location.href = window.location.origin + '/' + {{staff_id|tojson}} + '/' + document.getElementById('flask_day').value + '/' + document.getElementById('resident_id').value + '/' + document.getElementById('return_check').value;
        } else {
            console.error('Response failed:', response.status);
        }
	})
    	.catch(error => {
        console.error('Error:', error);
    	});
      }
      
    
  </script>
  {% endblock %}
